<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>companies</title>
    <link rel="icon" href="../static/favicon.png">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="centered">
        <h1 style="font-size: xxx-large; color: #00d2f1">Platform Location</h1>
        <button onclick="location.href='/docs'">docs</button>
    </div>
</body>
</html>
